.header__wrapper {
  position: relative;
  display: flex;
  padding: 0 5%;
  height: 64px;
  align-items: center;
}

.header__nav {
  order: 3;
  margin-left: 40px;
}

.header__user-nav {
  order: 2;
  margin-left: auto;
}

.header__logo {
  order: 1;
}
