.header__wrapper {
  position: relative;
  display: flex;
  padding: 0 20px;
  height: 64px;
  align-items: center;
}

.header__nav {
  order: 3;
  margin-left: 40px;
}

.header__user-nav {
  order: 2;
  margin-left: auto;
}

.header__logo {
  order: 1;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    margin: 0 auto;
    padding: 0 auto;
    padding-top: 85px;
    max-width: 992px;
  }

  .header__nav {
    order: 2;
    margin-left: 128px;
  }

  .header__user-nav {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    margin: 0 auto;
    padding-top: 85px;
    max-width: 1210px;
  }
}
