.navitagion {
  background-color: #303032;
}

.navigation__list {
  margin: 0;
  padding: 0 90px;

  list-style: none;
}

.navigation__button {
}

.navitagion__button::after,
.navigation__button::before {
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
}

.navigation__item {
  margin: 32px 0px;

  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
