.new-items__title {
  .playfair_bold;

  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 27px;
  color: @darkcolor;
}

.new-items__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.new-items__item {
  margin-bottom: 30px;
}

.new-items__link {
  display: grid;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
  width: 288px;
  margin: 0 auto;

  // align-items: center;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.new-items__img {
  grid-area: top;
  margin: 0 auto;
}

.new-items__name {
  grid-area: middle;
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  color: @darkcolor;
}

.new-items__price {
  grid-area: bottom;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;
  color: @darkcolor;
}
