.reviews {
  margin-bottom: 100px;
}

.reviews__wrapper {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 824px;
}

.reviews__button {
  margin: auto;
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.review {
  margin: 0 auto;
  text-align: center;
}

.avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.review__name {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.review__position {
  display: block;
  margin-bottom: 20px;
}

.review__text {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  color: #444348;
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 0 135px;
  }
}

@media (max-width: @mobile-width) {
  .reviews__wrapper {
    display: none;
  }
}
