.sale__title {
  .playfair_bold;

  font-size: 20px;
  line-height: 27px;
}

.sale__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.sale__nav-item {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}

.sale__card {
  display: grid;
  width: 288px;

  margin: 0 auto;
  padding-left: 25px;
  padding-top: 31px;

  text-decoration: none;
  color: @darkcolor;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.sale__card--price {
  color: @darkcolor;
}

.sale__card--title {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.sale__card--price {
  margin: 0;
  padding: 0;

  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}

.sale__card--old-price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-line: line-through;
  color: #979798;
}

.card__img {
  margin-left: auto;
}
