.swiper__wrapper {
  margin-bottom: 80px;
  padding: 0 auto;
}

.swiper__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.swiper__img-container {
  margin-bottom: 30px;
  background:
    linear-gradient(
      to right,
      #fff 0%,
      #fff 60%,
      @pinkcolor 60%,
      @pinkcolor 100%
    );
}

.swiper__img {
  display: block;
  margin: 0 auto;
}

.swiper__info-container {
  width: 90%;
  margin: 0 20px;
}

.swiper__title {
  .playfair_bold;

  margin: 0;
  font-size: 27px;
  line-height: 170%;
}

.swiper__name {
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
}

.swiper__price {
  font-size: 20px;
  line-height: 27px;
}

.swiper__price--stock {
  margin-left: 22px;
  font-size: 30px;
  list-style: 41px;
  font-weight: bold;
}

.swiper__button {
  .default_button;

  width: 100%;
  padding: 18px 0;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: @tablet-width) {
  .swiper {
    margin-bottom: 120px;
    background:
      linear-gradient(
        to right,
        #fff 0%,
        #fff 60%,
        @pinkcolor 60%,
        @pinkcolor 100%
      );
  }

  .swiper__wrapper {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
  }

  .swiper__scroll {
    width: 6%;
    margin: auto 0;
  }

  .swiper__list {
    width: 94%;
  }

  .swiper__item {
    display: flex;
  }

  .swiper__img-container {
    margin-left: auto;
    margin-bottom: 0;
    max-width: 46%;
    background-color: none;
    order: 2;
  }

  .swiper__info-container {
    padding: 0;
    margin: auto 0;
    max-width: 47%;
  }

  .swiper__img {
    width: 100%;
    height: auto;
  }

  .swiper__button {
    width: 238px;
  }

  .swiper__control-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .swiper__control-item {
      .playfair_regular;

      font-size: 20px;
      text-align: right;
      line-height: 145%;
      letter-spacing: 0.05em;
      color: rgba(0, 0, 0, 0.3);

      &--active {
        position: relative;
        font-size: 40px;
        color: #000;

        &::after {
          content: "";
          position: absolute;
          left: 75px;
          top: 5px;
          display: block;
          width: 2px;
          height: 54px;
          background-color: #000;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .swiper__wrapper {
    max-width: 1210px;
  }

  .swiper__title {
    font-size: 57px;
    line-height: 145%;
  }
}
