.swiper__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.swipper__title {
  .playfair_bold;
  font-size: 27px;
  line-height: 170%;
}

.swipper__name {
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
}

.swiper__price {
  font-size: 20px;
  line-height: 27px;
}

.swiper__price--stock {
  font-size: 30px;
  list-style: 41px;
  font-weight: bold;
}

.swiper__button {
  .default_button;
  padding: 18px 0;

  font-size: 16px;
  line-height: 22px;
}
