.user-nav__list {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin: 0;
  padding: 0;
  align-content: center;
  list-style: none;
}

.user-nav__item {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
}
