.playfair_regular {
  font-family: "Playfair Display", "Times New Roman", serif;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

.playfair_bold {
  font-family: "Playfair Display", "Times New Roman", serif;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.default_button {
  display: grid;
  width: 290px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #303032;
}
